.main-box {
  padding: 30px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}

 .container {
  width:700px;
  margin-right: auto;
  margin-left : auto;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    width: 80%;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box1 p {
    margin: 0;
    padding: 0;
}

/*trash icon*/
.trash-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 5px;
  margin-top: 7px;
  width: 9px;
  height: 10px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-radius: 0 0 2px 2px;
  background-color: currentColor;
}
.trash-solid.icon:before {
  content: '';
  position: absolute;
  left: -4px;
  top: -2px;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}
.trash-solid.icon:after {
  content: '';
  position: absolute;
  left: 0px;
  top: -5px;
  width: 7px;
  height: 2px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 4px 4px 0 0;
}

.subject {
  margin-bottom: auto;
  font-size:10px;
  opacity: 50%;
}
.subject-content {
  border-bottom: solid 2px #555;
}
.btn-square {
  display: inline-block;
  margin: 15px 0 0 auto;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn:hover {
  opacity: .7;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btnWrap{
  text-align: right;
}

/**/
